@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.subscription-button {
  background-color: #83B3D3;
}

.navigation-link button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #756257;
}

.main-index {
  color: #000;
  background-color: #fff;
  background-image: url("../images/content/welcome-index-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center top;
}

.welcome-inscription {
  text-align:center;
}

.description {
  text-align: center;
}

.description-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
}

.description-caption {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: inherit;
}

.features {
  text-align: center;
}

.features-card-tittle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: inherit;
}

.features-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: inherit;
}

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: inherit;
}

.hotel-search-caption {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: inherit;
}

.subscription {
 text-align: center;
 color: #fff;
 background-color: 000;
 background-image: url("../images/content/subscription-background.jpg");
 background-size: 1200px;
 background-repeat: no-repeat;
 background-position: center top;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
}

.subscription-caption {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}

.contacts-phone-number {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

/* Каталог */

.main-inner {
  color: #000;
  background-color: #fff;
}

.hotels {
  color: #fff;
  background-color: #407599;
  background-image: url("../images/content/catalog-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
}

.result-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  color: #000
}

.select-control {
  color: #333;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #000
}

.hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000
}

.hotel-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333
}

.hotel-card-grade p {
  background-color: #F2F2F2;
}

.card-display-button {
  background-color: transparent;
  color: #333
}

.current-display-button {
  background-color: transparent;
  color: #333
}

.filter-button {
  background-color: #83B3D3;
  color: #fff;
}

.filter-button-text {
  background-color: transparent;
  color: #fff;
}

.hotel-card-button {
  background-color: #83B3D3;
}

.result-show-more {
  background-color: #83B3D3;
}

.pagination-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}
