@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
  width: 1200px;
  margin: 0 auto;
}


/* Шапка */

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  width: 480px;
}

.navigation-user {
  width: 360px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #756257;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}


/* Приветствие */

.welcome-inscription {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

.description-title {
  width: 720px;
  height: 80px;
  padding-top: 80px;
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 24px;
  margin: 0;
}

.description-caption {
  width: 720px;
  height: 37px;
  padding-left: 240px;
  padding-right: 240px;
  margin: 0;
}

.features-list {
  margin: 0 auto;
  padding: 0;
}

/* Карточка и правая картинка */

.features-card-left {
  display: flex;
  padding-top: 80px;
}

.features-card-right {
  display: flex;
}

.card-title-description {
  width: 400px;
  margin: 0;
}


/* Карточки с иконками */

.features-icons-list {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.features-card-icon {
  width: 400px;
  height: 384px;
  margin: 0;
}
.features-card-text {
  width: 400px;
  height: 384px;
  margin: 0;
}

.subscription-button {
  background-color: #83B3D3;
}

.main-index {
  color: #000;
  background-color: #fff;
  background-image: url("../images/content/welcome-index-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
  background-position: center top;
}

.description {
  text-align: center;
}

.description-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
}

.description-caption {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: inherit;
}


/* Нижний ряд карточек */

.card-text-list {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.features-card-text {
  width: 400px;
}

/* Список причин */

.features-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features {
  text-align: center;
}

.features-card-tittle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: inherit;
}

.features-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: inherit;
}

.features-card-description {
  width: 250px;
  padding-left: 75px;
}

/* Поиск отеля */

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
}

.hotel-search-caption {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: inherit;
}

.subscription {
 text-align: center;
 color: #fff;
 background-color: 000;
 background-image: url("../images/content/subscription-background.jpg");
 background-size: 1200px;
 background-repeat: no-repeat;
 background-position: center top;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 94px;
}

.subscription-caption {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}

.subscription-form {
  padding-bottom: 94px;
}

/* Футер */

.foter-wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 104px;
  margin-right: auto;
}

.contacts-phone {
  width: 720px;
  text-align: center;
}

.contacts-phone-number {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.footer-htmlacademy {
  width: 115px;
  margin-left: auto;
}


/* ====================================== Каталог ====================================== */

.main-inner {
  width: 1200px;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
}

.hotels {
  color: #fff;
  background-color: #407599;
  background-image: url("../images/content/catalog-background.jpg");
  background-size: 1200px;
  background-repeat: no-repeat;
}

.result-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  color: #000
}

.select-control {
  color: #333;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #000
}

.hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000
}

.hotel-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333
}

.hotel-card-grade p {
  background-color: #F2F2F2;
}

.card-display-button {
  background-color: transparent;
  color: #333
}

.current-display-button {
  background-color: transparent;
  color: #333
}

.filter-button {
  background-color: #83B3D3;
  color: #fff;
}

.filter-button-text {
  background-color: transparent;
  color: #fff;
}

.hotel-card-button {
  background-color: #83B3D3;
}

.result-show-more {
  background-color: #83B3D3;
}

.pagination-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}
/* Фильтры */
.catalog-filter {
 display: flex;
}

.filter-infrastructure {
  width: 150px;
  padding-left: 72px;
  padding-right: 72px;
}

.filter-housing {
  width: 240px;
  padding-right: 140px;
}

.filter-price {
  width: 290px;
  padding-right: 80px;
}

.catalog-filter-list {
  list-style: none;
}

.filter-result {
  display: flex;
  justify-content: space-between;
}

.result-title {
  padding-left: 72px;
}

.result-sort-select {
  width: 288px;
  padding-right: 80px;
  padding-left: auto;
}

.result-sort-display {
  padding-right: 72px;
}

/* Карточки с гостинницами */
.hotels-cards-list {
  display: flex;
  margin: 0 auto;
}

.hotel-card {
  width: 339px;
  padding: 20px;

}

.pagination-view {
  display: flex;
  justify-content: space-between;
}
